<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837557192150-4e5qo77n7lg5ms871vqn3p3jb62as52u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837557192150-4e5qo77n7lg5ms871vqn3p3jb62as52u</string>
	<key>API_KEY</key>
	<string>AIzaSyA8NHbSG7Dp_liLu02m08NY8XSVwLN-p0M</string>
	<key>GCM_SENDER_ID</key>
	<string>837557192150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>derinsezgin.CozyPlatform</string>
	<key>PROJECT_ID</key>
	<string>cozyplatform-5dcf6</string>
	<key>STORAGE_BUCKET</key>
	<string>cozyplatform-5dcf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837557192150:ios:17d1a933b9dfbd6aec1077</string>
</dict>
</plist>